<address itemprop="{{ include.itemprop | default: 'address' }}" itemtype="http://schema.org/PostalAddress" itemscope="">
	{% if include.address.url %}
		<a href="{{ include.address.url }}" target="_blank" class="block color-inherit" itemprop="url">
	{% endif %}
	<div itemprop="streetAddress">{{ include.address.streetAddress }}</div>
	<div>
		<span itemprop="addressRegion">{{ include.address.addressRegion }}</span>,
		<span itemprop="addressLocality">{{ include.address.addressLocality }}</span>
		<span itemprop="postalCode">{{ include.address.postalCode }}</span>
	</div>
	{% if include.address.url %}</a>{% endif %}
</address>
