<div class="card shadow clearfix" itemtype="{{ include.info['@context'] | append: '/' | append: include.info['@type'] }}" itemscope="">
	<figure class="inline-block float-left" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
		{% include imgur.html url=include.info.image.url itemprop='image' sizes='45vw' %}
	</figure>
	<div class="inline-block float-left">
		<div itemprop="name">{{ include.info.name }}</div>
		<a href="{{ include.info.telephone | prefix: 'tel:' }}" class="block">
			{% include icon.html icon='call-start' %}
			<span itemprop="telephone">{{ include.info.telephone | replace: '+', '' }}</span>
		</a>
		<a href="{{ include.info.email | prefix: 'mailto:' }}" class="block">
			{% include icon.html icon='mail-unread' %}
			<span itemprop="telephone">{{ include.info.email }}</span>
		</a>
		<a href="{{ include.info.url}}" class="block">
			{% include icon.html icon='web-browser' %}
			<span itemprop="telephone">{{ include.info.url | replace: 'http://', '' | replace: 'https://', '' }}</span>
		</a>
		{% if include.info.address %}
			<div class="clearfix">
				<span class="float-left">{% include icon.html icon='location' %}</span>
				<div class="float-left">{% include address.html address=include.info.address %}</div>
			</div>
		{% endif %}
	</div>
	<meta itemprop="screenCount" content="{{ include.info.screenCount }}" />
	<meta itemprop="maximumAttendeeCapacity" content="{{ include.info.maximumAttendeeCapacity }}" />
	<meta itemprop="smokingAllowed" content="{{ include.info.smokingAllowed }}" />
	<meta itemprop="currenciesAccepted" content="{{ include.info.currenciesAccepted }}" />
	<meta itemprop="paymentAccepted" content="{{ include.info.paymentAccepted }}" />
	<meta itemprop="priceRange" content="{{ include.info.priceRange }}" />
</div>
