<header id="about" class="center background-accent background-fixed background-no-repeat overflow-hidden background-cover color-alt optimize-speed transition-speed-slow" role="banner">
	<h1 class="font-title center tada animation-speed-normal animation-ease-in">
		<a href="{{ site.url | default: '/' | absolute_url}}" class="inline-block color-inherit">
			{{ site.title }}
		</a>
	</h1>
	<a href="{{ site.url | default: '/' | absolute_url}}">
		<img class="logo" src="{{ site.data.business.logo.url | absolute_url }}" alt="Logo" />
	</a>
</header>
