<header id="about" class="clearfix background-accent background-fixed background-no-repeat overflow-hidden background-cover color-alt optimize-speed transition-speed-slow" role="banner">
	<h1 class="font-title center">
		{% if page.url != '/' %}<a href="{{ site.url | default: '/' | absolute_url}}" class="color-inherit">{% endif %}
			{% include icon.html icon='film-star' %}
			{{ site.title }}
			{% include icon.html icon='film-star' %}
		{% if page.url != '/' %}</a>{% endif %}
	</h1>
	<div class="contact-info center">
			<a href="tel:{{ site.data.business.telephone }}" class="color-inherit">
				{% include icon.html icon='call-start' %}
				{{ site.data.business.telephone | replace: '+', '' }}
			</a>
			<br />
			<a href="tel:{{ site.data.business.email }}" class="color-inherit">
				{% include icon.html icon='mail-unread' %}
				{{ site.data.business.email }}
			</a>
		</div>
</header>
