<div id="{{ include.movie.title | slugify }}" class="card shadow inline-block now-playing" itemtype="http://schema.org/ScreeningEvent" itemscope="">
	<meta itemprop="name" content="{{ include.movie.title }}" />
	<div itemprop="workPresented" itemtype="http://schema.org/Movie" itemscope="">
		<h2 itemprop="name" class="movie-title center">{{ include.movie.title }}</h2>
		<meta itemprop="genre" content="{{ include.movie.genre }}" />
		<figure class="poster-image center cursor-pointer" data-show-trailer="{{ include.movie.trailer }}" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			{% include imgur.html url=include.movie.poster sizes='(min-width: 600px) 30vw, 100vw' itemprop='url' %}
		</figure>
		<button type="button" data-show-trailer="{{ include.movie.trailer }}">
			{% include icon.html icon='video' %}
			<span>Watch Trailer</span>
		</button>
		<details>
			<summary role="button" class="block clearfix">
				<span>More Info</span>
				<span class="float-right">{% include icon.html icon='view-more' %}</span>
			</summary>
			<div class="release-date">
				<b>
					{% include icon.html icon='calendar' %}
					<span class="label">Release Date</span>
					<time datetime="{{ include.movie.releaseDate | date_to_xmlschema }}" itemprop="dateCreated">
						{{ include.movie.releaseDate | date: '%B %d, %Y' }}
					</time>
				</b>
			</div>
			<hr />
			<div class="clearfix card shadow">
				<b class="label inline-block">
					{% include icon.html icon='avatar-default' %}
					<span>Directed by</span>
				</b>
				<ul class="directors">
					{% for director in movie.directors %}
					<li class="director" itemprop="director" itemtype="http://schema.org/Person" itemscope="">
						<span itemprop="name">{{ director }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			<hr />
			<div class="clearfix card shadow">
				<b class="label inline-block">
					{% include icon.html icon='avatar-default' %}
					<span>Cast</span>
				</b>
				<ul class="cast">
					{% for actor in movie.actors %}
					<li class="actor" itemprop="actor" itemtype="http://schema.org/Person" itemscope="">
						<span itemprop="name">{{ actor }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			<hr />
		</div>
		</details>
	<div class="showtime-list">
		<div class="flex row wrap">
			{% for showing in include.movie.showtimes %}
				<span class="showtime">
					{% include icon.html icon='recent' %}
					<time itemprop="startDate" datetime="{{ showing.start | date: date_to_xmlschema }}">{{ showing.start | date: '%l:%M %p' }}</time>
					<span>&mdash;</span>
					<time itemprop="endDate" datetime="{{ showing.end | date: date_to_xmlschema }}">{{ showing.end | date: '%l:%M %p' }}</time>
				</span>
			{% endfor %}
		</div>
	</div>
	<div itemprop="location" itemtype="http://schema.org/MovieTheater" itemscope="" hidden="">
		<meta itemprop="name" content="{{ site.data.business.name }}" />
		<div itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="" hidden="">
			<meta itemprop="url" content="{{ site.data.business.image.url | absolute_url }}" />
		</div>
		<div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="" hidden="">
			<meta itemprop="url" content="{{ site.data.business.logo.url | absolute_url }}" />
		</div>
		<address itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="" hidden="">
			<meta itemprop="streetAddress" content="{{ site.data.business.address.streetAddress }}" />
			<meta itemprop="addressRegion" content="{{ site.data.business.address.addressRegion }}" />
			<meta itemprop="addressLocality" content="{{ site.data.business.address.addressLocality }}" />
			<meta itemprop="postalCode" content="{{ site.data.business.address.postalCode }}" />
		</address>
	</div>
</div>
