<div class="card shadow inline-block now-playing" itemtype="http://schema.org/Movie" itemscope="">
	<h2 itemprop="name">{{ include.movie.title }}</h2>
	<meta itemprop="genre" content="{{ include.movie.genre }}" />
	<figure class="poster-image" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
		{% include imgur.html url=include.movie.poster sizes='(max-width: 600px) 30vw, 100vw' itemprop='url' %}
	</figure>
	<button type="button" data-show-trailer="{{ include.movie.trailer }}">
		{% include icon.html icon='video' %}
		<span>Watch Trailer</span>
	</button>
	<div class="release-date">
		<span class="label">Release Date</span>
		<time datetime="{{ include.movie.releaseDate | date_to_xmlschema }}" itemprop="dateCreated">{{ include.movie.releaseDate | date: '%B %d, %Y' }}</time>
	</div>
	<details>
		<summary role="button">Directors</summary>
		<ul class="directors">
			{% for director in movie.directors %}
				<li class="director" itemprop="director" itemtype="http://schema.org/Person" itemscope="">
					<span itemprop="name">{{ director }}</span>
				</li>
			{% endfor %}
		</ul>
	</details>
	<details>
		<summary role="button">Cast</summary>
		<ul class="cast">
			{% for actor in movie.actors %}
				<li itemprop="actor" itemtype="http://schema.org/Person" itemscope="">
					<span itemprop="name">{{ actor }}</span>
				</li>
			{% endfor %}
		</ul>
	</details>
	<details>
		<summary role="button">Showtimes</summary>
		<ol class="showtime-list">
			{% for time in include.movie.showtimes %}
				<li class="showtime"><time>{{ time }}</time></li>
			{% endfor %}
		</ol>
	</details>
</div>
