<span hidden="">
	{% include breadcrumb-nav.html category=page.category post=page %}
</span>
<article class="font-article" itemtype="http://schema.org/Review" itemscope="" role="article" >
	<header class="article-meta background-accent color-alt sticky-desktop top shadow-dark z-4">
		{% if page.tags %}<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />{% endif %}
		{% if page.imgur %}
			{% capture hash %}{{ include.url | replace: 'https://i.imgur.com/', '' | replace: 'https://imgur.com/', '' | replace: '.png', '' | replace: '.jpg', '' }}{% endcapture %}
			<meta itemprop="image" content="https://i.imgur.com/{{ hash }}m.png" />
		{% elsif page.image %}
			<meta itemprop="image" content="{{ page.image | absolute_url }}" />
		{% endif %}
		<meta itemprop="description" content="{{ page.description | default: site.description }}" />
		{% if page.tags %}
			<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />
		{% endif %}
		<meta itemptop="wordCount" content="{{ content | number_of_words }}" />
		<meta itemprop="url" content="{{ page.url | absolute_url }}" />
		<div itemprop="publisher" itemtype="http://schema.org/MovieTheater" itemscope="">
			<meta itemprop="name" content="{{ site.data.business.name }}" />
			<meta itemprop="telephone" content="{{ site.data.business.telephone }}" />
			<meta itemprop="email" content="{{ site.data.business.email }}" />
			<meta itemprop="url" content="{{ site.data.business.url | absolute_url | default: site.url }}" />
			<meta itemprop="priceRange" content="{{ site.data.business.priceRange }}" />
			<div itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
				<meta itemprop="url" content="{{ site.data.business.logo.url | absolute_url }}" />
			</div>
			<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="" hidden="">
				<meta itemprop="streetAddress" content="{{ site.data.business.address.streetAddress }}" />
				<meta itemprop="addressRegion" content="{{ site.data.business.address.addressRegion }}" />
				<meta itemprop="addressLocality" content="{{ site.data.business.address.addressLocality }}" />
				<meta itemprop="postalCode" conent="{{ site.data.business.address.postalCode }}" />
			</div>
		</div>
		<details>
			<summary class="block">
				<h1 class="inline-block">
					{% include icon.html icon='view-more' %}
					<span itemprop="headline">{{ page.title }}</span>
				</h1>
			</summary>
			<div class="font-main post-details">
				{% if page.category %}
					<div class="tags">
						<a href="{{ site.url }}/posts/{{ page.category | downcase }}">
							{% include icon.html icon='tag' %}
							<b>{{ page.category | capitalize }}</b>
						</a>
					</div>
					<hr />
				{% endif %}
				{% if page.author %}
					{% assign author = page.author | downcase | replace: ' ', '-'  %}
					{% if site.data.authors contains author %}
						{% include by-line.html author=author %}
					{% else %}
						<div>
							<b>By <span itemprop="author">{{ page.author }}</span></b>
						</div>
						<br />
					{% endif %}
				{% endif %}
				{% if page.date %}
					<b class="meta-date-posted">
						<span>Posted on</span>
						<time itemprop="datePublished" datetime="{{ page.date | date: data_to_xmlschema }}">
							{{ page.date | date: '%a, %B %e, %Y' }}
						</time>
					</b>
				{% endif %}
				{% if page.updated %}
					<b class="meta-date-updated">
						<span>Updated on</span>
						<time itemprop="dateModified" datetime="{{ page.updated | date: data_to_xmlschema }}">
							{{ page.updated | date: '%a, %B %e, %Y' }}
						</time>
					</b>
				{% else %}
					<meta itemprop="dateModified" content="{{ page.date | date: data_to_xmlschema }}" />
				{% endif %}
			</div>
		</details>
	</header>
	{% if page.subheading %}{% include subheading.html subheading=page.subheading %}{% endif %}
	<div class="movie-review">
		{% assign movie = site.data.nowplaying | where: 'review', page.url | first %}
		<section class="movie-reviewed center" itemprop="itemReviewed" itemtype="http://schema.org/Movie" itemscope="">
			<div hidden="">
				<meta itemprop="name" content="{{ movie.title }}" />
				<meta itemprop="description" content="{{ movie.description }}" />
				<meta itemprop="sameAs" content="{{ '/#' | absolute_url | append: movie.title | slugify }}" />
				<meta itemprop="dateCreated" content="{{ movie.releaseDate | date: data_to_xmlschema }}" />
				{% for director in movie.directors %}
					<div itemprop="director" itemtype="http://schema.org/Person" itemscope="" hidden="">
						<meta itemprop="name" content="{{ director }}" />
					</div>
				{% endfor %}
				{% for director in movie.actors %}
					<div itemprop="actor" itemtype="http://schema.org/Person" itemscope="" hidden="">
						<meta itemprop="name" content="{{ actor }}" />
					</div>
				{% endfor %}
			</div>
			<figure itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
				{% include imgur.html url=movie.poster itemprop='url' sizes='(max-width: 450px) 100vw, (max-width: 650px) 35vw, 25vw' %}
			</figure>
		</section>
		<section class="movie-review-body" itemprop="reviewBody" class="optimize-legibility">
			{{ content }}
		</section>
	</div>
	<footer class="clearfix relative">
		{% if page.ads and site.ad-sense %}{% include ad.html %}{% endif %}
		{% if jekyll.environment == 'production' and  page.comments and site.discus-identifier %}{% include disqus.html %}{% endif %}
		<hr />
		{% include license.html %}
	</footer>
</article>
